/*

@media only screen and (max-width : 767px) {

}
*/

@media only screen and (max-width : 1300px) {
	
	/* img1page */
	.wrapper-image1{
	    background-position: top center;background-size: contain;height: 150px;width: auto;background-color: #b8e1e7;background-repeat: no-repeat;
	}

}


@media only screen and (max-width : 991px){
	.navbar-brand .logo {
	    width: 110px;
	    height: auto;
	}
	
	.topper .companyname {
	    font-size: 22px;
	}
	
	.topper .text {
	    padding-left: 10px;
	    line-height: 1.5;
	}
	
	.navbar-brand span {
	    font-size: 12px;
	    color: #005a84;
	    font-family: 'poppinsmedium';
	}
	
	.nav-top .navbar {
	    padding: 15px;
	}



	.wrapper-intro .content h1 {
	    font-size: 50px;
	}

	.wrapper-slide span {
	    font-size: 30px;
	}
	

	.token {
	    height: auto;
	}


	body{color:#2E384D; font-family: "ScholarlyAmbitionRegular-PKdwB";letter-spacing: 2px;}
	p{color:#2E384D;font-size: 21px;margin-bottom:10px;}
/* 	 */

	.branch{
	    display: none;
	}

	.one img{
	    margin-top: 150px;
	}

	.two img{
	    margin-top: 150px;

	}

	.three img{
	    margin-top: 150px;
	}

	.four img{
	    margin-top: 150px;
	    
	}

	.five img{
	    margin-top: 150px;
	    
	}

	.roadmapmap{
	    height:1000px;width: 100%;
	}

	.wrapper-howto {
	    margin-top: -500px;
	}

}

@media only screen and (max-width : 767px) {
	.nav-top .navbar-nav {
	    display: flow-root;
	}

	.nav-top .navbar ul>li{
	    float: right;

	}

	.navbar-dark .navbar-brand {
	  
	    margin: auto auto;
	}

	.navbar {
	    
	    margin: auto auto;
	}
	

	.nav-top .navbar-nav {
   		margin: 15px auto;
	    padding: 5px;
	}

	.nav-top .navbar-dark .navbar-nav .nav-link {
	    font-size: 15px;
	}

	.btn {
    padding: 5PX 20PX;
	    font-size: 25PX;
	}


	.wrapper-intro {
	    height: 100vh;
	    width: auto;
	    background-color: #fff;
	}

	.wrapper-intro .content {
	    position: absolute;
	    bottom: 0px;
	    margin: auto;
	    left: 0px;
	    right: 0px;
	}

	.wrapper-slide {
	    height: auto;
	    width: auto;
	    background-color: #185617;
	}



	.roadmapmap {
	    height: 700px;
	    width: 100%;
	}

	.wrapper-tokenomics .content {
	    padding: 1rem;
	    border: 5px solid #3a3a3c;
	}

	.wrapper-howto h2 {
	    color: #000;
	    font-size: 35px;	}

	
	.footer-sec .content {
	    margin-top: -200px;
	}
	
	.aduckcoinf {
	    width: 200px;
	    height: auto;
	}

	.wrapper-tokenomics .table td {
    font-weight: 600;
    color: #2E384D;
    font-size: 20px;
}

	
}


@media (max-height: 1100px ){
    .wrapper-intro .content h1 {
	    margin-top:0px;
	}

	.wrapper-intro .content {
	    bottom: 0px;
	}

	.navbar {
		padding: 0px;
	}

	.imgaduck{
	    width: 70%;
	    height: auto;
	}


}


@media (max-height: 900px ){


	


}


@media (max-height: 700px ){
    .wrapper-intro .content h1 {
	    margin-top:0px;
	    letter-spacing: 4px;
	    color: #fff;
	    font-size: 60px;
	}



	.wrapper-intro .content {
	    bottom: 30px;
	}

	.navbar {
		padding: 0px;
	}




}



